
.site-main{
    min-height: 400px;
}

.site-title {
    position: relative;
    padding: 16px 0;
    border-bottom: 1px solid #f7e181;
    @include box-shadow(0 1px 0 #f2d044);
    margin: 0 0 50px;
    .breadcrumbs {
        font-size: 14px;
        li {
            display: inline-block;
            &:first-child {
                .divider {
                    display: none;
                }
            }
            .divider {
                display: inline-block;
                margin: 0 10px;
            }
        }
        a {
            text-decoration: underline;
        }
        span {
            font-weight: 600;
        }
    }

    .title {
        font-family: $font-monarcha;
        color: #063f78;
        text-align: center;
        font-size: 38px;
        line-height: 1;
        margin: 0;

        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100%;

        span {
            display: inline-block;
            padding: 0 16px;
            background-color: white;
        }
    }
}





.yellow-template{
    a{
        color: #e9c002;
    }
    .site-title {
        border-bottom: 1px solid rgba(#e9ba12, 0.8);
        @include box-shadow(0 1px 0 #e9ba12);
        .title {
            color: #edb915;
        }
    }
}

.blue-template{
    a{
        color: #0372be;
    }
    .site-title {
        border-bottom: 1px solid #8ec0e1;
        @include box-shadow(0 1px 0 #2a89c7);
        .title {
            color: #0970c1;
        }
    }
}







