@font-face {
    font-family: "Helvetica Neue";
    src: url("helveticaneuelightitalic.eot"); /* IE9 */
    src: url("helveticaneuelightitalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("helveticaneuelightitalic.woff") format("woff"), /* chrome, firefox */
    url("helveticaneuelightitalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("helveticaneuelightitalic.svg#Helvetica Neue") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


