
.site-header{
    padding-top: 10px;
    @include tablet{
        padding-top: 20px;
    }
    @include desktop {
        padding-top: 30px;
    }
    .logo{
        float: left;
        margin: 0 5px 35px;
        width: 156px;
        @include tablet {
            margin: 0 5px 30px;
            width: 190px;
        }
    }
    .meta-info{
        float: right;
        text-align: right;
        font-size: 12px;
    }
    .slogan{
        display: none;
        @include tablet{
            display: block;
        }
        .h1{
            color: #00367c;
            margin: 5px 0;
            font-size: 18px;
            font-weight: 700;
        }
        div{
            color: #1e4c82;
            font-weight: 600;

            .sn{
                line-height: 23px;
                a{
                    display: inline-block;
                    margin: 0 0 0 5px;
                    width: 23px;
                    height: 23px;
                    text-align: center;
                    @include border-radius(23px);
                    color: white;
                }
                .sn--tw{
                    background-color: #64a7f5;
                }
                .sn--fb{
                    background-color: #3b5999;
                }
                .sn--in{
                    background-color: #d0011b;
                }
            }
        }
    }

    .language{
        position: relative;
        #lang_sel{

        }
        img{
            width: 18px;
        }
        li{
            display: inline-block;
            margin: 2px 2px 2px 8px;
            a{
                color: #42403a;
                &:hover{
                    text-decoration: none;
                    @include tablet{
                        text-decoration: underline;
                    }
                }
            }
            .lang_sel_sel{
                display: none;
                @include tablet{
                    display: inline;
                }
            }
            ul{
                @include tablet{
                    display: inline-block;
                    margin: 15px 0;
                }
                img{
                    width: 40px;
                    @include tablet{
                        width: 18px;
                    }
                }
                span{
                    display: none;
                    @include tablet{
                        display: inline;
                    }
                }
            }
        }
    }



    .site-menu{
        background-color: #988675;
        @include background-image(linear-gradient(#635043, #746055 42%, #877267 43%, #6b5a4f 100%));
        .container{
            padding-left: 0;
            padding-right: 0;
            position: relative;
            @include clearfix;
        }
        .bar{
            width: 100%;
            height: 8px;
            background-color: $color-yellow;
            @include desktop{
                height: 14px;
            }
        }

        .toggle-main-menu{
            float: right;
            width: 52px;
            height: 37px;
            padding: 5px 10px;
            span{
                float: right;
                height: 4px;
                width: 100%;
                margin: 2px 0 3px;
                background-color: white;
                @include border-radius(1px);
                &:nth-child(2){
                    width: 70%;
                }
            }
            @include desktop{
                display: none;
            }

            &.open {
                span{
                    &:nth-child(1){
                        @include transform(rotate(43deg) translate(6px, 6px));
                    }
                    &:nth-child(2){
                        width: 0;
                    }
                    &:nth-child(3){
                        @include transform(rotate(-47deg));
                    }
                }
                ~ .main-menu-wrap .main-menu {
                    padding: 10px;
                    > .menu-item {
                        display: block;
                    }
                }
            }
        }

        .main-menu-wrap{
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 200;
            margin-top: 8px;
            @include desktop{
                position: static;
                margin-top: 0;
            }
        }

        .main-menu{
            @include clearfix;

            background-color: #988675;
            @include desktop{
                background-color: transparent;
            }

            > .menu-item{
                display: none;
                position: relative;
                padding: 6px 5px;
                font-size: 16px;
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                &:first-child{
                    border-top: none;
                }
                @include desktop{
                    font-size: 15px;
                    float: left;
                    display: block;
                    padding: 12px 10px;
                    border-top: none;
                }
                > a{
                    display: block;
                    height: 30px;
                    line-height: 30px;
                    color: white;
                    padding: 0 12px;
                    @include border-radius(10px);

                    &:hover{
                        text-decoration: none;
                    }
                }

                &:hover {
                    @include desktop {
                        background-color: #696056;
                    }
                    .sub-menu {
                        @include opacity(1);
                        height: auto;
                        padding: 10px;
                    }
                }

                .sub-menu{
                    font-weight: 400;
                    padding: 0 10px;
                    height: 0;
                    overflow: hidden;
                    @include border-radius(0 0 10px 10px);
                    @include transition(all 0.3s);

                    @include desktop{
                        z-index: 1000;
                        position: absolute;
                        left: 0;
                        top: 100%;
                        height: 0;
                        overflow: hidden;
                        @include opacity(0);
                        background-color: #988675;
                        width: 283px;
                    }

                    li{
                        border-top: 1px solid rgba(255,255,255,0.3);
                        &:first-child{
                            border-top: none;
                        }
                        &:hover, &:hover + li{
                            border-top-color: transparent;
                        }
                    }
                    a{
                        display: block;
                        padding: 10px;
                        @include border-radius(10px);
                        color: #fff;
                        &:hover{
                            background-color: rgba(255,255,255,0.2);
                            text-decoration: none;
                        }
                    }
                }
                &.current-menu-item > a, &.current-menu-ancestor > a{
                    @include desktop {
                        background-color: white;
                        color: #473428;
                    }
                }
            }

            .menu-item-has-children{
                &:before{
                    content: "\f054";
                    font: $font-awesome;
                    color: white;

                    position: absolute;
                    right: 10px;
                    top: 13px;
                    @include desktop{
                        display: none;
                    }
                }
                &:hover{
                    &:before {
                        content: "\f078";
                    }
                }
            }

            .yellow-label{
                display: block;
                position: absolute;
                top: -50px;
                left: 10px;
                @include background-image(linear-gradient(#fada49, #f6c716));
                border-top: none;
                @include desktop {
                    position: relative;
                    top:auto;
                    left: auto !important;
                }
                &:before{
                    content: '';
                    display: block;
                    height: 14px;
                    width: 100%;
                    @include background-image(linear-gradient(#fade56, #fada49));
                    @include border-radius(10px 10px 0 0);
                    font: 0/0 Arial, sans-serif;

                    position: absolute;
                    left: 0;
                    bottom: 100%;
                    top: auto;
                }
                > a{
                    background-color: transparent;
                }
                a{
                    &:hover{
                        background-color: transparent;
                        color: white;
                    }
                }
                .sub-menu{
                    z-index: 1000;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    height: 0;
                    overflow: hidden;
                    @include opacity(0);
                    width: 283px;

                    padding: 0;

                    background-color: $color-yellow;
                    a{
                        color: #564e44;
                    }
                }
                &.current-menu-item > a, &.current-menu-ancestor > a{
                    background-color: transparent;
                }
            }
            .blue-label{
                display: block;
                position: absolute;
                top: -50px;
                left: 114px;
                @include background-image(linear-gradient(#1e9bd7, #0071bc));
                border-top: none;
                @include desktop {
                    position: relative;
                    top:auto;
                    left: auto !important;
                }
                &:before{
                    content: '';
                    display: block;
                    height: 14px;
                    width: 100%;
                    @include background-image(linear-gradient(#29abe2, #1e9bd7));
                    @include border-radius(10px 10px 0 0);
                    font: 0/0 Arial, sans-serif;

                    position: absolute;
                    left: 0;
                    bottom: 100%;
                    top: auto;
                }
                > a{
                    color: white;
                    background-color: transparent;
                }
                a{
                    &:hover{
                        background-color: transparent;
                        color: white;
                    }
                }
                .sub-menu{
                    z-index: 1000;
                    position: absolute;
                    top: 100%;
                    height: 0;
                    overflow: hidden;
                    @include opacity(0);
                    width: 283px;

                    padding: 0;

                    left: -101px;
                    background-color: $color-blue;
                    @include desktop{
                        left: 0;
                    }
                }
                &.current-menu-item > a, &.current-menu-ancestor > a{
                    background-color: transparent;
                    color: white;
                }
            }
            .shopping-cart{
                @include desktop{
                    position: absolute;
                    right: 6px;
                    top: 70px;
                    z-index: 8000;
                    &:hover{
                        background: none;
                    }
                }
                a{
                    font-size: 16px;
                    font-weight: 400;
                    padding: 0 11px;
                    color: white !important;
                    background-color: #bd0009 !important;
                    @include transition(color 0.3s, background-color 0.3s, border-color 0.3s);
                    &:before{
                        content: "\f07a";
                        font: $font-awesome;
                        display: inline-block;
                        margin-right: 7px;
                    }
                    &:hover{
                        background-color: #e40013 !important;
                    }
                    @include desktop{
                        font-size: 14px;
                        @include border-radius(50px);
                        height: 45px;
                        line-height: 45px;
                        padding: 0 20px;
                        &:before{
                            margin-right: 10px;
                        }
                    }
                }
            }

        }

    }
}


.blue-template{
    .site-menu {
        background: #BBDAFC;
        .bar {
            background-color: $color-blue;
        }

        .main-menu {
            background-color: #BBDAFC;
            > .menu-item {
                &:hover {
                    background-color: #96C5EF;
                }
                > a {
                    color: #0057ae;
                    &.active, &:hover {
                        color: #01529c;
                    }
                }
                .sub-menu{
                    @include desktop {
                        background-color: #BBDAFC;
                    }
                    a{
                        color:#0057ae;
                    }
                }
            }
            .yellow-label {
                .sub-menu{
                    background-color: $color-yellow;
                    a{
                        color: #564e44;
                    }
                }
            }

            .blue-label {
                a {
                    color: white;
                    &:hover {
                        color: white;
                    }
                }
                .sub-menu{
                    background-color: $color-blue;
                    a{
                        color:white;
                    }
                }
            }
        }
    }
}



.lang-vi{
    .site-header .site-menu .main-menu {
        > .menu-item {
            padding: 6px 0;
            @include desktop {
                padding: 12px 5px;
            }
        }
        .blue-label{
            left: 130px;
        }
    }
}
