$url: "../fonts";

@font-face {
    font-family: "Monarcha W01 Book";
    src: url("#{$url}/006a6b206d6200e0cedf4f4c9c963c58.eot"); /* IE9*/
    src: url("#{$url}/006a6b206d6200e0cedf4f4c9c963c58.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("#{$url}/006a6b206d6200e0cedf4f4c9c963c58.woff2") format("woff2"), /* chrome?firefox */
    url("#{$url}/006a6b206d6200e0cedf4f4c9c963c58.woff") format("woff"), /* chrome?firefox */
    url("#{$url}/006a6b206d6200e0cedf4f4c9c963c58.ttf") format("truetype"), /* chrome?firefox?opera?Safari, Android, iOS 4.2+*/
    url("#{$url}/006a6b206d6200e0cedf4f4c9c963c58.svg#Monarcha W01 Book") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'helvetica_neueregular';
    src: url('#{$url}/helveticaneuelight-webfont.woff2') format('woff2'),
    url('#{$url}/helveticaneuelight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}