.site-footer{
    margin-top: 20px;
    @include tablet {
        margin-top: 30px;
    }
    .bar{
        width: 100%;
        height: 8px;
        background-color: $color-yellow;
        @include desktop{
            height: 14px;
        }
    }

    .subscribe{
        .subscribe-form{
            border-top: 1px solid #fde9a8;
            @include box-shadow(0 -1px 0 #facd34);
            padding: 30px 0 40px;
            @include clearfix;
            .copy{
                padding-bottom: 15px;
                @include desktop {
                    padding-bottom: 0;
                    float: left;
                    width: 460px;
                }
                h4{
                    font-size: 23px;
                    color: #00367a;
                    margin: 0;
                    font-family: $font-monarcha;
                    @include tablet{
                        font-size: 26px;
                    }
                }
            }

            .form{
                @include desktop {
                    float: right;
                    width: 520px;
                }
            }

            .wrap-input{
                position: relative;
                i{
                    position: absolute;
                    right: 10px;
                    top: 15px;
                    color: #9b9b9b;
                }

                @include tablet{
                    display: inline-block;
                    i {
                        right: 20px;
                        top: 20px;
                    }
                }

                input{
                    font-size: 14px;
                    width: 100%;
                    height: 44px;
                    line-height: 44px;
                    border: 2px solid #d4d4d4;
                    background: white;
                    padding: 0 30px 0 10px;
                    @include tablet{
                        font-size: 16px;
                        height: 58px;
                        line-height: 58px;
                        width: 330px;
                        padding: 0 40px 0 20px;
                    }
                }
            }
            button{
                display: inline-block;
                outline: none;
                color: #000;
                height: 44px;
                line-height: 44px;
                font-size: 15px;
                padding: 0 20px;
                cursor: pointer;
                text-align: center;
                letter-spacing: 0.04em;
                border: none;
                @include border-radius(60px);
                @include transition(color 0.3s, background-color 0.3s, border-color 0.3s);
                text-decoration: none !important;
                margin: 10px 0 0;
                @include tablet{
                    height: 56px;
                    line-height: 56px;
                    font-size: 18px;
                    padding: 0 30px;
                    margin: 0 0 0 10px;
                }
            }
        }
    }

    .socials-network{
        background-color: #696156;
        color: #fff;
        text-align: center;
        font-size: 16px;
        @include tablet{
            font-size: 18px;
        }
        a{
            color: white;
        }
        .copy{
            padding: 25px 0;
        }
        .socials{
            font-size: 40px;
            a{
                display: inline-block;
                margin: 0 10px;
            }
            @include tablet{
                font-size: 46px;
            }
        }
        .nav{
            padding: 35px 0 25px;
            font-weight: 600;
            .menu-item{
                display: inline-block;
                margin:  0 10px;
                text-transform: uppercase;
            }
        }
    }

    .footer--info{
        background-color: #f9f3db;
        color: #7e716b;
        .three-column{
            padding: 0 0 40px;
            @extend .clearfix;
            a {
                color: inherit;
            }
            > div{
                margin-top: 30px;
                @include tablet {
                    float: left;
                }
            }

            h3{
                font-size: 16px;
                font-weight: 600;
                color: #31363c;
                margin: 0 0 20px;
                @include tablet{
                    font-size: 20px;
                }
            }
            ul{
                margin: 0 0 20px;
            }

            .information{
                @include tablet{
                    display: none;
                }
                @include desktop {
                    display: block;
                    width: 25%;
                }
                li {
                    margin: 15px 0;
                }
            }
            .contact{
                @include tablet{
                    width: 50%;
                    padding-left: 20px;
                }
                @include desktop {
                    width: 25%;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                p{
                    margin: 15px 0;
                }
                .fa-mobile{
                    font-size: 1.3em;
                }
            }
            .latest-news{
                @include tablet{
                    width: 50%;
                    padding-left: 20px;
                }
                @include desktop {
                    padding-left: 10px;
                }


                li{
                    @include clearfix;
                    border-bottom: 1px solid #e7e1cb;
                    margin-bottom: 15px;
                    padding-bottom: 8px;
                    figure{
                        float: left;
                        margin: 0 20px 10px 0;
                    }
                    h4{
                        margin: 0;
                        font-weight: 600;
                    }
                    p{
                        margin: 5px 0;
                    }
                }

                .view-all{
                    font-weight: 600;
                    i{
                        font-size: 1.3em;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .copyright{
        padding-top: 20px;
        padding-bottom: 20px;
        p{
            text-align: center;
            font-size: 13px;
            margin: 0 0 5px;
            @include tablet{
                margin: 0 0 10px;
                font-size: 14px;
            }
        }
    }
}



.yellow-template{
    .bar{
        background-color: $color-yellow;
    }
}

.blue-template{
    .bar{
        background-color: $color-blue;
    }
}
