
.site-header{
    padding-top: 10px;
    @include tablet{
        padding-top: 20px;
    }
    @include desktop {
        padding-top: 30px;
    }
    .logo{
        float: left;
        margin: 0 5px 35px;
        width: 160px;
        @include tablet {
            margin: 0 5px 30px;
            width: auto;
        }
    }
    .meta-info{
        float: right;
        text-align: right;
        font-size: 12px;
    }
    .slogan{
        display: none;
        @include tablet{
            display: block;
        }
        .h1{
            color: #00367c;
            margin: 5px 0;
            font-size: 18px;
            font-weight: 700;
        }
        div{
            font-weight: 700;
            color: #1e4c82;
            position: relative;
            padding-right: 55px;

            span{
                display: inline-block;
                position: absolute;
                top: -3px;
                right: -3px;
                font-size: 18px;
            }
            a{
                display: inline-block;
                margin: 0 3px;
            }
            .facebook{
                color: #436eb1;
            }
            .email{
                color: #b6b6b8;
            }
        }
    }

    .language{
        position: relative;
        #lang_sel{

        }
        img{
            width: 18px;
        }
        li{
            display: inline-block;
            margin: 2px 2px 2px 8px;
            a{
                color: #42403a;
            }
            .lang_sel_sel{
                display: block;
                width: 30px;
                height: 30px;
                text-decoration: none;
                img{
                    width: 30px;
                }
                .icl_lang_sel_current{
                    display: none;
                }
                @include tablet{
                    display: inline;
                    width: auto;
                    height: auto;
                    img{
                        width: 18px;
                    }
                    .icl_lang_sel_current{
                        display: inline;
                    }
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .open ~ ul{
                display: inline-block;
            }
            ul{
                display: none;
                position: absolute;
                right: 5px;
                top: 22px;
                margin: 15px 0;
                width: 120px;
                @include tablet{
                    width: auto;
                    display: inline-block;
                    position: static;
                }
            }
        }
    }






    .site-menu{
        background-color: #988675;
        .container{
            padding-left: 0;
            padding-right: 0;
            position: relative;
            @include clearfix;
        }
        .bar{
            width: 100%;
            height: 8px;
            background-color: $color-yellow;
            @include desktop{
                height: 14px;
            }
        }

        .toggle-main-menu{
            float: right;
            width: 52px;
            padding: 5px 10px;
            span{
                display: block;
                height: 4px;
                margin: 5px 0;
                background-color: white;
                @include border-radius(1px);
            }
            @include desktop{
                display: none;
            }

            &.open ~ .main-menu-wrap .main-menu {
                padding: 10px;
                @include border-radius(0 0 20px 20px);
                > .menu-item {
                    display: block;
                }
            }
        }

        .main-menu-wrap{
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 100;
            margin-top: 8px;
            padding: 0 10px;
            @include desktop{
                position: static;
                margin-top: 0;
                padding: 0;
            }
        }

        .main-menu{
            @include clearfix;

            background-color: #988675;

            > .menu-item{
                display: none;
                position: relative;
                padding: 6px 4px;
                font-size: 16px;
                font-weight: 600;
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                &:first-child{
                    border-top: none;
                }
                @include desktop{
                    font-size: 14px;
                    float: left;
                    display: block;
                    padding: 12px 4px;
                    border-top: none;
                }
                > a{
                    display: block;
                    height: 30px;
                    line-height: 30px;
                    color: white;
                    padding: 0 15px;
                    @include border-radius(10px);

                    &:hover{
                        text-decoration: none;
                    }
                }

                &:hover {
                    @include desktop {
                        background-color: #696056;
                    }
                    .sub-menu {
                        @include opacity(1);
                        height: auto;
                        padding: 10px;
                    }
                }
                .sub-menu{
                    font-weight: 400;
                    height: 0;
                    overflow: hidden;
                    @include border-radius(0 0 10px 10px);
                    @include transition(all 0.3s);

                    @include desktop{
                        z-index: 1000;
                        position: absolute;
                        left: 0;
                        top: 100%;
                        height: 0;
                        overflow: hidden;
                        @include opacity(0);
                        background-color: #988675;
                        width: 283px;
                    }

                    li{
                        border-top: 1px solid rgba(255,255,255,0.2);
                        &:first-child{
                            border-top: none;
                        }
                    }
                    a{
                        display: block;
                        padding: 10px;
                        @include border-radius(10px);
                        color: #fff;
                        &:hover{
                            background-color: rgba(255,255,255,0.1);
                            text-decoration: none;
                        }
                    }
                }
                &.current-menu-item > a, &.current-menu-ancestor > a{
                    @include desktop {
                        background-color: white;
                        color: #473428;
                    }
                }
            }

            .menu-item-has-children{
                &:before{
                    content: "\f054";
                    font: $font-awesome;
                    color: white;

                    position: absolute;
                    right: 10px;
                    top: 13px;
                    @include desktop{
                        display: none;
                    }
                }
                &:hover{
                    &:before {
                        content: "\f078";
                    }
                }
            }

            .yellow-label{
                display: block;
                position: absolute;
                top: -50px;
                left: 10px;
                @include background-image(linear-gradient(#fada49, #f6c716));
                border-top: none;
                @include desktop {
                    position: relative;
                    top:auto;
                    left: auto;
                }
                &:before{
                    content: '';
                    display: block;
                    height: 14px;
                    width: 100%;
                    @include background-image(linear-gradient(#fade56, #fada49));
                    @include border-radius(10px 10px 0 0);
                    font: 0/0 Arial, sans-serif;

                    position: absolute;
                    left: 0;
                    bottom: 100%;
                    top: auto;
                }
                > a{
                    background-color: transparent;
                }
                a{
                    &:hover{
                        background-color: transparent;
                        color: white;
                    }
                }
                .sub-menu{
                    z-index: 1000;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    height: 0;
                    overflow: hidden;
                    @include opacity(0);
                    width: 283px;

                    padding: 0;

                    background-color: $color-yellow;
                    a{
                        color: #564e44;
                    }
                }
                &.current-menu-item > a, &.current-menu-ancestor > a{
                    background-color: transparent;
                }
            }
            .blue-label{
                display: block;
                position: absolute;
                top: -50px;
                left: 111px;
                @include background-image(linear-gradient(#1e9bd7, #0071bc));
                border-top: none;
                @include desktop {
                    position: relative;
                    top:auto;
                    left: auto;
                }
                &:before{
                    content: '';
                    display: block;
                    height: 14px;
                    width: 100%;
                    @include background-image(linear-gradient(#29abe2, #1e9bd7));
                    @include border-radius(10px 10px 0 0);
                    font: 0/0 Arial, sans-serif;

                    position: absolute;
                    left: 0;
                    bottom: 100%;
                    top: auto;
                }
                > a{
                    color: white;
                    background-color: transparent;
                }
                a{
                    &:hover{
                        background-color: transparent;
                        color: white;
                    }
                }
                .sub-menu{
                    z-index: 1000;
                    position: absolute;
                    top: 100%;
                    height: 0;
                    overflow: hidden;
                    @include opacity(0);
                    width: 283px;

                    padding: 0;

                    left: -101px;
                    background-color: $color-blue;
                    @include desktop{
                        left: 0;
                    }
                }
                &.current-menu-item > a, &.current-menu-ancestor > a{
                    background-color: transparent;
                    color: white;
                }
            }
            .shopping-cart{
                a{
                    font-size: 16px;
                    font-weight: 400;
                    padding: 0 15px;
                    color: white !important;
                    background-color: #f15a24 !important;
                    &:before{
                        content: "\f07a";
                        font: $font-awesome;
                        display: inline-block;
                        margin-right: 7px;
                    }
                    &:hover{
                        background-color: #f14409 !important;
                    }
                    @include desktop{
                        font-size: 14px;
                    }
                }
            }

        }

    }
}


.blue-template{
    .site-menu {
        background-color: #BBDAFC;
        .bar {
            background-color: $color-blue;
        }

        .main-menu {
            background-color: #BBDAFC;
            > .menu-item {
                &:hover {
                    background-color: #96C5EF;
                }
                > a {
                    color: #0057ae;
                    &.active, &:hover {
                        color: #01529c;
                    }
                }
                .sub-menu{
                    @include desktop {
                        background-color: #BBDAFC;
                    }
                    a{
                        color:#0057ae;
                    }
                }
            }
            .yellow-label {
                .sub-menu{
                    background-color: $color-yellow;
                    a{
                        color: #564e44;
                    }
                }
            }

            .blue-label {
                a {
                    color: white;
                    &:hover {
                        color: white;
                    }
                }
                .sub-menu{
                    background-color: $color-blue;
                    a{
                        color:white;
                    }
                }
            }
        }
    }
}
