
.site-header{
    padding-top: 30px;
    .logo{
        float: left;
        margin: 0 0 15px;
    }
    .meta-info{
        float: right;
        text-align: right;
        font-size: 12px;
    }
    .slogan{
        .h1{
            color: #00367c;
            margin: 5px 0;
            font-size: 18px;
            font-weight: 700;
        }
        div{
            font-weight: 700;
            color: #1e4c82;
            position: relative;
            padding-right: 55px;

            span{
                display: inline-block;
                position: absolute;
                top: -3px;
                right: -3px;
                font-size: 18px;
            }
            a{
                display: inline-block;
                margin: 0 3px;
            }
            .facebook{
                color: #436eb1;
            }
            .email{
                color: #b6b6b8;
            }
        }
    }

    .language{
        .language--toggle{
            display: none;
        }
        .language--menu{
            margin: 15px 0;
        }
        li{
            display: inline-block;
            margin-left: 10px;
            a{
                color: #42403a;
            }
        }
    }






    .site-menu{
        background-color: #988675;
        .container{
            padding-left: 0;
            padding-right: 0;
            position: relative;
        }
        .bar{
            width: 100%;
            height: 14px;
            background-color: $color-yellow;
        }

        .toggle-main-menu{
            position: absolute;
            top: 10px;
            right: 10px;
            @include desktop{
                display: none;
            }
        }

        .main-menu{
            @include clearfix;

            > .menu-item{
                position: relative;
                padding: 12px 4px;
                font-size: 14px;
                font-weight: 600;
                @include desktop{
                    float: left;
                }
                > a{
                    display: inline-block;
                    height: 30px;
                    line-height: 30px;
                    color: white;
                    padding: 0 15px;
                    @include border-radius(10px);

                    &:hover{
                        text-decoration: none;
                    }
                }

                &:hover {
                    background-color: #696056;
                    .sub-menu {
                        //display: block;
                        @include opacity(1);
                        height: auto;
                    }
                }
                .sub-menu{
                    font-weight: 400;
                    //display: none;
                    z-index: 1000;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: 212px;
                    padding: 10px;
                    @include border-radius(0 0 10px 10px);
                    @include opacity(0);
                    height: 0;
                    overflow: hidden;
                    @include transition(all 0.3s);
                    background-color: #988675;

                    li{
                        border-top: 1px solid rgba(255,255,255,0.2);
                        &:first-child{
                            border-top: none;
                        }
                    }
                    a{
                        display: block;
                        padding: 10px;
                        @include border-radius(10px);
                        color: #fff;
                        &:hover{
                            background-color: rgba(255,255,255,0.1);
                            text-decoration: none;
                        }
                    }
                }
                &.current-menu-item > a, &.current-menu-ancestor > a{
                    background-color: white;
                    color: #473428;
                    text-decoration: none;
                }
            }

            .yellow-label{
                @include background-image(linear-gradient(#fada49, #f6c716));
                position: relative;
                &:before{
                    content: '';
                    display: block;
                    height: 14px;
                    width: 100%;
                    @include background-image(linear-gradient(#fade56, #fada49));
                    @include border-radius(10px 10px 0 0);

                    position: absolute;
                    left: 0;
                    bottom: 100%;
                }
                > a{
                    background-color: transparent;
                }
                a{
                    &:hover{
                        background-color: transparent;
                        color: white;
                    }
                }
                .sub-menu{
                    background-color: $color-yellow;
                    a{
                        color: #564e44;
                    }
                }
                &.current-menu-item > a, &.current-menu-ancestor > a{
                    background-color: transparent;
                }
            }
            .blue-label{
                @include background-image(linear-gradient(#1e9bd7, #0071bc));
                position: relative;
                &:before{
                    content: '';
                    display: block;
                    height: 14px;
                    width: 100%;
                    @include background-image(linear-gradient(#29abe2, #1e9bd7));
                    @include border-radius(10px 10px 0 0);

                    position: absolute;
                    left: 0;
                    bottom: 100%;
                }
                > a{
                    color: white;
                    background-color: transparent;
                }
                a{
                    &:hover{
                        background-color: transparent;
                        color: white;
                    }
                }
                .sub-menu{
                    background-color: $color-blue;
                }
                &.current-menu-item > a, &.current-menu-ancestor > a{
                    background-color: transparent;
                    color: white;
                }
            }
            .shopping-cart{
                a{
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 0 15px;
                    color: white !important;
                    background-color: #f15a24 !important;
                    &:before{
                        content: "\f07a";
                        font: normal normal normal 16px/1 FontAwesome;
                        display: inline-block;
                        margin-right: 7px;
                    }
                    &:hover{
                        background-color: #f14409 !important;
                    }
                }
            }

        }

    }
}


.blue-template{
    .site-menu {
        background-color: #BBDAFC;
        .bar {
            background-color: $color-blue;
        }

        .main-menu {
            > .menu-item {
                &:hover {
                    background-color: #96C5EF;
                }
                > a {
                    color: #0057ae;
                    &.active, &:hover {
                        color: #01529c;
                    }
                }
                .sub-menu{
                    background-color: #BBDAFC;
                    a{
                        color:#0057ae;
                    }
                }
            }
            .yellow-label {
                .sub-menu{
                    background-color: $color-yellow;
                    a{
                        color: #564e44;
                    }
                }
            }

            .blue-label {
                a {
                    color: white;
                    &:hover {
                        color: white;
                    }
                }
                .sub-menu{
                    background-color: $color-blue;
                    a{
                        color:white;
                    }
                }
            }
        }
    }
}
